<!DOCTYPE HTML>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="../signin/signIn.css">
  <title>How To Play</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Connect4</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/howto">How to Play <span
            class="sr-only">(current)</span></a>
        <a class="nav-item nav-link " href="/signin">Sign-In</a>
        <a class="nav-item nav-link " href="/signup">Sign-Up</a>
        <a class="nav-item nav-link" href="/game">Game</a>
        <a class="nav-item nav-link " href="/search">Search For Players</a>

      </div>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid text-light">
    <div class="container text-center">
      <h1 class="display-4 "><b>Connect 4</b></h1>
      <h4>The ultimate How-To Tutorial</h4>
      <p class="lead ">Rules:</p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card bg-dark text-light">
          <div class="card-header">
            Goal:
          </div>
          <div class="card-body">
            <h5 class="card-title">Goal of The Game:</h5>
            <p class="card-text">The goal of this game is to try to match four same circles in a row.</p>

          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card bg-dark text-light">
          <div class="card-header">
            Matching:
          </div>
          <div class="card-body">
            <h5 class="card-title">Circle Matching</h5>
            <p class="card-text">Matching four circles in a row can take place either horizontally or vertically or
              diagonally.
              A simpler game to look at for more reference is Tic-Tac-Toe as it has the same rules but with only 3
              objects.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card bg-dark text-light">
          <div class="card-header">
            That's it!
          </div>
          <div class="card-body">
            <h5 class="card-title">Enjoy Playing With Others</h5>
            <p class="card-text">Now that you know the rules of this game what are you waiting for? Go out there and
              Enjoy
              spending your time with others and challenging your skills in this game ;).
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</html>